$global-text: #333;
$global-midtext: #999;
$global-border:  rgba(0,0,0,0.12);
$btn-bg: rgba(0,0,0,0.3);
$btn-text: #fff;
$btn-flat-bg: #ff7424;
$lbl-flat-bg: #fab944;
$btn-flat-bg-passive: #f0f0f0;
$adv-border: #ff7424;